a,textarea,p,h1,h2,h3,h4,h5,h6,span{
font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
font-size: 1.5rem;
}
p,a{
font-size: 1rem;
}
span{
color:blue;
}

.heading2{
text-align: center;
text-transform:capitalize;
}